p {
  color: #0055b3;
  font-size: 16pt;
}

ul {
  color: #0055b3;
  font-size: 16pt;
}

ol {
  color: #0055b3;
  font-size: 16pt;
}

h1{
  font-weight: bold;
  font-style: Time New Roman;
  font-size: 16pt;
}

header {
  color: #0055b3;
  font-size: 16pt;
}

body {
  color: #0055b3;
  font-size: 16pt;
}

footer {
  color: #0055b3;
  font-size: 16pt;
}
