p {
  color: #0055b3;
}

ul {
  color: #0055b3;}

ol {
  color: #0055b3;}

h1{
  font-weight: bold;
  font-style: }

header {
  color: #0055b3;
}

body {
  color: #0055b3;
}

footer {
  color: #0055b3;
}
